#langs a {
    /* GitHub の md にて動作しない為無効化
    background-color: rgba(1.0, 1.0, 1.0, 0.5);*/
    padding: 2.0em 0.7em 0.3em 0.7em;
    /*GitHub の md にて(以下略
    transition: 0.5s;*/
}

/* Gi(以下略
#langs a:hover { border: 2px white solid; }
#langs a:hover::after { content: attr(alt); color: white;}
*/